/*Reset padding and margin for all files. */
*{
    margin: 0;
    padding: 0;
}

span{
    color: whitesmoke;
}

body{
    background-color: #96A0BA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}