footer{
    color: whitesmoke;
    background-color: #7D7B7D;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.nav-link{
    color: whitesmoke;
}

.firstColumnFooter{
    margin-left: 2%;
}