header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background:map-get($colors , mainGradient ); 
};

#logoDrShoe{
    filter: invert(14%) sepia(100%) saturate(2556%) hue-rotate(237deg) brightness(113%) contrast(163%);
}

.nav{
    margin-right: 2%;
}