.gridContainer{
    display: grid;
    grid-template-areas: 
    "mainImage introduction" 
    "shopWithUs shopWithUs";
}

#presentationContainer{
    grid-area: introduction;
    width: 50%;
    margin-left: 5%;
}

#mainImageContainer{
    grid-area: mainImage;
    width: 50%;
    margin-left: 3%;
}

#mainImage{
    width: 200%;
}

#shopSectionContainer{
    grid-area: shopWithUs;
    display: grid;
    grid-template-areas: 
    "titleShop titleShop titleShop" 
    "shopWomen shopMen shopKids";
    margin-left: 2%;
    margin-bottom: 2%;
}

#shopWomenFlexContainer{
    grid-area: shopWomen;
}

#shopMenFlexContainer{
    grid-area: shopMen;
}

#shopKidsFlexContainer{
    grid-area: shopKids;
}

#shopSectionTitle{
    grid-area: titleShop;
    margin-top: 2%;
}

#kidsShoesImage{
    height: 70%;
    width: 100%;
}