.gridContainer{
    display: grid;
    grid-template-areas: 
    "mainImage introduction" 
    "shopWithUs shopWithUs";
}

#presentationContainer{
    grid-area: introduction;
    width: 50%;
}

#mainImageContainer{
    grid-area: mainImage;
    width: 40%;
}

#shopSectionContainer{
    grid-area: shopWithUs;
    display: grid;
    grid-template-areas: 
    "titleShop titleShop titleShop" 
    "shopWomen shopMen shopKids";
}

#shopWomenFlexContainer{
    grid-area: shopWomen;
}

#shopMenFlexContainer{
    grid-area: shopMen;
}

#shopKidsFlexContainer{
    grid-area: shopKids;
}

#shopSectionTitle{
    grid-area: titleShop;
}